* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  background-color: #f3f0f0;
  font-size: 13pt;
  display: inline;
}

header {
  margin-top: 1.3rem;
}

header div {
  margin: 1em 4em 0.7em 4em;
}

header div h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: "arial black";
}

header div span {
  background: #000000;
  color: #ffffff;
  padding: 0.4em 0.8em;
  display: inline-block;
  font-size: 12px;
  margin-left: 1rem;
}

.main,
footer {
  background: #d3d3d3;
}

.main {
  display: inline-block;
  width: 70%;
  margin: 0 0 0 15%;
  padding: 0 3rem 2rem 3rem;
}

#presentation div {
  padding-bottom: 1rem;
}

#presentation p {
  font-style: italic;
  font-size: 0.9rem;
  margin: 1em;
}

#presentation h2,
#acteurs h2 {
  font-size: 2rem;
  padding: 1rem;
}

#presentation h3 strong,
h2,
#synopsis h2,
#acteurs h2 {
  font-weight: bold;
}

#synopsis p {
  margin-top: 1rem;
}

#synopsis h2 {
  color: #8b0000;
  padding-top: 1rem;
  font-size: 1.5rem;
}

header,
#synopsis h2,
#presentation h2,
#presentation p,
#presentation div,
footer,
#acteurs {
  text-align: center;
}

#acteurs ul {
  color: #8b0000;
  font-size: 1rem;
  list-style: none;
}

#acteurs li {
  background: #d3d3d3;
  margin: 0 25rem 0.3em 25rem;
  border-radius: 10px;
}
footer {
  padding: 2rem;
  margin: 1em;
}
